.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  height: fit-content;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.nav-items {
  display: flex;
}
.nav-links {
  padding: 0.5rem;
  margin: 0.5rem;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-items {
    display: none;
    flex-direction: column;
     justify-content: center; 
    align-items: center;
    text-align: center;
    position: absolute;
    height: 100%;
    top: 75px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
  }

  .nav-items.open {
    display: flex;
  }
}